<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panpakapam!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/pageStyles.css">
</head>
<body>
    <div class="container">
        <h1>Arisu Cute Sound!</h1>
        <img src="/images/arisu.webp" alt="arisu image">
        <button type="button" class="btn btn-primary">Panpakapam!</button>
    </div>
</body>
</html>